<h1>Password Generator</h1>

<div>
  <label>Length </label>
  <input type="text" (input)="onChangeLength($event)">
</div>

<div>
  <input type="checkbox" (change)="onChangeLetters()"> <label>User Letters</label>
</div>

<div>
  <input type="checkbox" (change)="onChangeNumbers()"> <label>User Numbers</label>
</div>

<div>
  <input type="checkbox" (change)="onChangeSymbols()"> <label>User Symbols</label>
</div>

<div>
  <button type="submit" 
  (click)="onButtonClick()" 
  [disabled]="!(length && (includeLetters ||includeNumbers ||includeSymbols))"
  > +Generate! </button>
</div>

<div>
  <label>Your password </label>
  <input type="text" [value]="password">
</div>
